@CHARSET "UTF-8";
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
/* remove dotted outline of the active tabs */
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  outline:none;
}
.hover-effect {
width: 100%;
overflow: hidden;
position: relative;
text-align: center;
}
.hover-effect img {
display: block;
position: relative;
}
.hover-effect .overlay {
width: 100%;
height: 100%;
top: 0;
left: 0;
position: absolute;
display: block;
opacity: 0;
background-color: rgba(0,0,0,0.5);
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}
.hover-effect a {
color: #fff;
font-size: 30px;
}
.hover-effect .next {
top: 50%;
text-align: right;
position: relative;
float: right;
right-padding: 15px;
}
.hover-effect .prev {
top: 50%;
text-align: left;
float: left;
left-padding: 15px;
position: relative;
}
.hover-effect .del_btn {
bottom: 0;
text-align: center;
position: absolute;
}
.hover-effect .close_btn {
right: 0;
position: absolute;
}
.hover-effect:hover .overlay {
opacity: 1;
filter: alpha(opacity=100);
}
.current{
    display: none;
}
button{
    border-radius: 6px;
}
hr{
    color:white;
    height: 5px;
}
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.hasEvent {
    background-color: blue;
}
.button{
    float:left;
    margin-left:196px;
}